body{
margin: 0;
padding: 0;    
        
}
/*Estilos
font-family: 'Cabin', sans-serif;
font-family: 'Lobster', cursive;*/

.mr-10{
margin-right: 20%;
margin-left: 20%;
width: 20px;
}

.pd-0{
padding-right: 0;
}


.carousel-indicators li {
    width: 1px;
    height: 1px;
    border-radius: 100%;
}